#[link(name = "mysql",
       vers = "0.1",
       uuid = "0ce89b41-2f92-459e-bbc1-8f5fe32f16cf",
       url = "http://github.com/nutsi/rust-mysql")];


#[crate_type = "lib"];

extern mod std;


pub mod mysql;
mod mysql_com;
mod mysql_ot;


